:root {
    --trash-zone-height: 200px;
}

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #ececec;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
}

#root {
    flex-grow: 1;
    cursor: copy;
}

#toolbar {
    position: fixed;
    padding: 10px;
    right: 0;
}

#toolbar button {
    background-color: #5dbcff;
    color: #fff;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 20px;
    transition: background-color 100ms linear;
}

#toolbar button:hover {
    background-color: #3aaeff;
}

#toolbar button:active {
    background-color: #25a6ff;
}

#trash {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.2);
    font-family: sans-serif;
    font-weight: bold;
    border: 5px dashed rgba(0, 0, 0, 0.2);
    height: var(--trash-zone-height);
    transition: all 100ms linear;
}

#trash.drag-over {
    background-color: rgba(0,0,0, 0.2);
}

.note {
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
    will-change: transform;
}

.note-header {
    min-height: 30px;
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.note-header svg {
    width: 26px;
    height: 26px;
    fill: #fff;
    padding-right: 5px;
}

.note-text {
    height: 50px;
    width: 200px;
    background-color: #0000;
    border: none;
    padding: 5px;
}

.note-color {
    background-color: #0000;
    border: none;
    padding-left: 5px;
    width: 23px;
}

.note-color:focus {
    outline: none;
}

.note-text:focus {
    outline: none;
}

#loader {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0003;
    z-index: 9999;
    transition: opacity 200ms linear;
    pointer-events: none;
    opacity: 0;
}

#loader.enable {
    pointer-events: all;
    opacity: 1;
}

#notify {
    position: fixed;
    padding: 15px 10px;
    background-color: white;
    transition: all 200ms linear;
    pointer-events: none;
    opacity: 0;
    border-radius: 5px;
    color: #848484;
    font-weight: 100;
    font-size: 14px;
    top: 0px;
    left: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
}

#notify.enable {
    pointer-events: all;
    opacity: 1;
    top: 10px;
}
